.contactSuccessComponent{
	display: table;
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	&__container{
		display: table-cell;
		vertical-align: middle;
	}
}

.contactSuccess{
	width: 50%;
	margin: auto;
	color: $white;
	text-align: center;
}