.column{
	background-color: $white !important;
	height: 100%;
	width: 100%;
	padding: 15px;
	margin: auto;
	margin-top: 30px;
	border-radius: 4px;
	
	&__header{
		font-family: $heading;
		text-align: center;
		color: $darkgrey;
		&--white{
			color: $white;
		}
	}
	
	&__button{
		background-color: $blueviolet;
		border-color: $blueviolet;
		width: 100%;
		height: 75px;
		color: $white;
		transition: 0.3s;
		font-family: $elements;
		font-size: 20px;
		&:hover{
			border: 3px solid $blueviolet;
			background-color: $white;
			color: $black;
		}
	}
	
	&__image{
		display: block;
		margin: 15px auto auto auto;
		max-width: 100%;
		height: auto;
	}
}