//imports
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Lato|Raleway:500');

//colors
$blueviolet: blueviolet;
$white: white;
$black: black;
$darkgrey: #343434;
$grey: grey;
$red: red;

//fonts
$heading: 'Eagle Lake', cursive;
$navigation: 'Raleway', sans-serif;
$elements: 'Lato', sans-serif;
$content: 'Lato', sans-serif;

