body {
  background-color: blueviolet; }

.header {
  color: white;
  text-align: center; }

.navbar {
  position: relative;
  background-color: blueviolet;
  z-index: 3; }
  .navbar__link {
    transition: 0.3s;
    color: white !important; }
    .navbar__link:hover {
      color: black !important;
      border-color: black !important; }
    .navbar__link--active {
      border-bottom: 1px solid white; }
  .navbar__brand {
    transition: 0.3s;
    color: white !important; }
    .navbar__brand:hover {
      color: black !important; }

.loginComponent {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .loginComponent__container {
    display: table-cell;
    vertical-align: middle; }

.login {
  width: 350px;
  margin: auto; }
  .login__form {
    border: 2px solid blueviolet;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    font-size: 20px; }
  .login__input {
    border: 2px solid blueviolet;
    width: 100%;
    height: 75px;
    padding: 15px; }
  .login__error {
    font-size: 15px;
    color: red; }
  .login__button {
    background-color: blueviolet;
    border-color: blueviolet;
    width: 100%;
    height: 75px;
    color: white;
    transition: 0.3s; }
    .login__button:hover {
      border: 3px solid blueviolet;
      background-color: white;
      color: black; }

.contactComponent {
  display: table;
  position: absolute;
  margin-top: 65px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .contactComponent__container {
    display: table-cell;
    vertical-align: middle; }

.contact {
  width: 50%;
  margin: auto; }
  .contact__form {
    border: 2px solid blueviolet;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    font-size: 20px; }
  .contact__input {
    border: 2px solid blueviolet;
    width: 100%;
    height: 50px;
    padding: 15px; }
    .contact__input--message {
      height: 150px;
      width: 100%; }
  .contact__error {
    font-size: 15px;
    color: red; }
  .contact__button {
    background-color: blueviolet;
    border-color: blueviolet;
    width: 100%;
    height: 50px;
    color: white;
    transition: 0.3s; }
    .contact__button:hover {
      border: 3px solid blueviolet;
      background-color: white;
      color: black; }

.contactSuccessComponent {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .contactSuccessComponent__container {
    display: table-cell;
    vertical-align: middle; }

.contactSuccess {
  width: 50%;
  margin: auto;
  color: white;
  text-align: center; }

.column {
  background-color: white !important;
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px; }
  .column__button {
    background-color: blueviolet;
    border-color: blueviolet;
    width: 100%;
    height: 75px;
    color: white;
    transition: 0.3s; }
    .column__button:hover {
      border: 3px solid blueviolet;
      background-color: white;
      color: black; }
  .column__image {
    display: block;
    margin: 15px auto auto auto;
    max-width: 100%;
    height: auto; }

/* CSS Document */
